@font-face {
  font-family: 'OpenMoji Color';
  src: url('OpenMoji-Color.ttf');
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}

:root {
  --border: #859900;
  --day: #cb4b16b0;
  --heading: #6c71c4;
  --hover: #657b83;
  --journal: #cb4b16;
  --night: #268bd2b0;
  --sleep: #2aa198;
  --text: #839496;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #002b36;
  }
}

@media (prefers-color-scheme: light), @media (prefers-color-scheme: no-preference) {
  :root {
    --background: #eee8d5;
  }
}

body {
  background-color: var(--background);
  background-image: url('transparent-leather.png');
  color: var(--text);
  font-size: 1.25rem;
}

h1,h2,h3,h4,h5,h6 {
  color: var(--heading);
  margin-bottom: 0.25em;
  margin-top: 0;
}

audio {
  border-radius: 1em;
  opacity: 0.5;
}

.img-frame {
  float: left;
  margin-top: 1vh;
  text-align: center;
  width: 98.5%;
}

.panel {
  border: 1px solid var(--border);
  border-radius: 1em;
  float: left;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  margin-bottom: 0.5vh;
  padding: 1em;
  padding-bottom: 0;
  padding-top: 0;
  width: 29%;
}

.panel ul {
  margin: 0;
}

.journal-bar {
  background-color: var(--journal);
  float: left;
  margin-bottom: 1px;
  width: 4px;
}

.sleep-bar {
  background-color: var(--sleep);
  float: left;
  margin-bottom: 1px;
  width: 4px;
}

.bar-hover {
  border-left: 2px solid var(--hover);
  border-right: 2px solid var(--hover);
  opacity: 1.0 !important;
}

.temp-bar {
  float: left;
  font-family: 'OpenMoji Color';
  font-size: small;
  width: 4%;
}

.temp-bar:hover {
  opacity: 0.25;
}

.temp-bar-l {
  background-color: var(--day);
}

.temp-bar-d {
  background-color: var(--night);
}

.temp-bar-r {
  background: linear-gradient(0.25turn, var(--night), var(--day));
}

.temp-bar-s {
  background: linear-gradient(0.25turn, var(--day), var(--night));
}

